<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<!-- Custom Icons -->
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
		<!-- AngularJS library -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>	
		
		<!-- My CSS -->
		<link rel="stylesheet" href="css/myStyle.css">		
		<!-- My JS -->
		<script src="js/myGraph.js"></script>
		
		<title>About Me</title>
	</head>
	<body ng-app="myApp">
		<!-- Navbar -->
		<nav class="navbar navbar-fixed-top navbar-default" ng-controller="navCtrl">
			<div class="container">
				<!-- Navbar Header -->
				<div class="navbar-header">
					  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span> 
					  </button>				
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li id="home_menu">
							<a href="index.html">
								Home
							</a>
						</li>
						<!-- Coursework Menu -->
						<li id="coursework_menu">
							<a href="courses.html">
								Coursework
							</a>
						</li>
						<!-- End of Coursework Menu -->
						<!-- Projects Drop Down Menu-->
						<li class="dropdown" id="projects_menu">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								Projects <span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<!-- Mobile Projects -->
								<li class="dropdown-header">
									Mobile Projects
								</li>
								<li ng-repeat="project in mobileProjects">
									<a ng-href="{{project.page_src_main}}">{{project.project_name}}</a>
								</li>
								<!--Game Projects -->
								<li role="separator" class="divider"></li>
								<li class="dropdown-header">
									Game Projects
								</li>
								<li ng-repeat="project in gameProjects">
									<a ng-href="{{project.page_src_main}}">{{project.project_name}}</a>
								</li>
								<!-- Web Projects -->
								<li role="separator" class="divider"></li>
								<li class="dropdown-header">
									Web Projects
								</li>
								<li ng-repeat="project in webProjects">
									<a ng-href="{{project.page_src_main}}">{{project.project_name}}</a>
								</li>
								<!-- View All -->
								<li role="separator" class="divider"></li>
								<li>
									<a href="projects.html">View All</a>
								</li>
							</ul>
						</li>
						<!-- End of Projects Drop Down Menu -->
						<!-- About Me Menu -->
						<li class="active" id="about_me_menu">
							<a href="about_me.html">
								About Me
							</a>
						</li>
						<!-- End of About Me Menu -->
					</ul>
					<!-- Contact and Social Navbar -->
					<ul class="nav navbar-nav navbar-right" id="contact_social_nav">
						<li>
							<a href="https://www.linkedin.com/pub/john-benedick-rasay/a4/2b7/7a3"><i class="fa fa-lg fa-linkedin"></i></a>
						</li>
						<li>
							<a href="https://github.com/JRasay89?tab=repositories"><i class="fa fa-lg fa-github"></i></a>
						</li>
						<li>
							<a href="mailto:jrasay89@gmail.com"><i class="fa fa-envelope"></i> jrasay89@gmail.com</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- End of Navbar -->
		
		<!-- Main Content -->
		<div class="container main_container" id="main_body">
			<div class="jumbotron aboutme_jumbotron_title">
				<h1>About Me</h1>
			</div>
			<!-- About Me And Profile Picture -->
			<div class="row page-header">
				<!-- Profile Picture -->
				<div class="col-xs-12 col-sm-12 col-lg-12" style="text-align: center;">
					<p class="profile_picture"><img src="images/myProfilePicture.JPG"/></p>
				</div>
			</div>
			<div class="row page-header">
				<!-- About Me -->
				<div class="col-xs-12 col-sm-12 col-lg-12">
					<p class="aboutme_description">
					 I graduated from the University of Hawaii in May 2014 with a Bachelors of Science degree in Computer Science. 
					 My education primarily consisted of courses that focused on the Java Programming Language, but I have also taken courses 
					 that gave me experience using other languages and technologies such as C, C++, JavaScript, PHP, HTML and CSS. 
					 Programming is something that I enjoy because you're always learning, and making something and seeing them work for the first time 
					 is a great feeling. It is also a great feeling to be able to program applications that can be of use to others.
					</p>
				</div>
			</div>
			<!-- Education-->
			<div class="row page-header">
				<div class="col-xs-12 col-sm-12 col-lg-12">
					<h2 class="aboutme_title aboutme_education"> Education </h2>
					<div class="row aboutme_education_row"> 
						<!-- University Of Hawaii -->
						<div class="row uhm_row">
							<div class="col-xs-12 col-sm-12 col-lg-12">
								<p><img src="images/school_logo/manoa_logo.png" alt="logo" /></p>
								<p><a href="http://manoa.hawaii.edu/">University Of Hawaii</a></p>
								<p>
									<a href="https://www.google.com/maps/place/University+of+Hawaii+at+Manoa/@21.299816,-157.817579,17z/data=!3m1!4b1!4m2!3m1!1s0x7c006d989580d855:0xac63f2de838ed2f4">
										Honolulu, Hi
									</a>
								</p>
								<p>August 2011 - May 2014</p>
								<p>Bachelors of Science in Computer Science</p>
								<p>Overall GPA 3.52 / 4.0</p>
							</div>
						</div>
						<!-- Honolulu Community College -->
						<div class="row hcc_row">
							<div class="col-xs-12 col-sm-12 col-lg-12">
								<p><img src="images/school_logo/hcc_logo.png" alt="logo"/></p>
								<p><a href="http://www.honolulu.hawaii.edu/">Honolulu Community College</a></p>
								<p><a href="https://www.google.com/maps/place/Honolulu+Community+College/@21.3206563,-157.869666,17z/data=!3m1!4b1!4m2!3m1!1s0x7c006e65ff93ebcf:0xab8780e78ac95124">Honolulu, Hi</a></p>
								<p>August 2007 - May 2011</p>
								<p>Associates of Science in Computing, Electronics & Networking Technology</p>
								<p>Overall GPA 3.32 / 4.0</p>
							</div>
						</div>
						<!-- Wallace Rider Farrington High School -->
						<div class="row fhs_row">
							<div class="col-xs-12 col-sm-12 col-lg-12">
								<p><img src="images/school_logo/fhs_logo.png" alt="logo" /></p>
								<p><a href="http://farringtonhighschool.org/">Wallace Rider Farrington High School</a></p>
								<p><a href="https://www.google.com/maps/place/Governor+Wallace+Rider+Farrington+High+School/@21.3306993,-157.8722547,17z/data=!3m1!4b1!4m2!3m1!1s0x7c006e621433d5c9:0x548831dfe4a5db77">Honolulu, Hi</a></p>
								<p>August 2003 - June 2007</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End of Educations -->
			<!-- Courses -->
			<div class="row page-header">
				<div class="col-xs-12 col-sm-12 col-lg-12">
					<h2 class="aboutme_title aboutme_courses" style="text-align:center"> Courses </h2>
					<div class="row aboutme_courses_row">
						<div class="col-xs-6 col-sm-6 col-lg-6">
							<ul>
								<li>
									<a href="my_courses/ics111.html">Intro to Computer Science I - Java</a>
								</li>
								<li>
									<a href="my_courses/ics211.html">Intro to Comp Science II - Java</a>
								</li>
								<li>
								<a href="my_courses/ics212.html">Program Structure - C & C++</a>
								</li>
								<li>
									<a href="my_courses/ics321.html">Data Storage & Retrieval</a>
								</li>
								<li>
									<a href="my_courses/ics311.html">Algorithms</a>
								</li>
								<li>
									<a href="my_courses/ics313.html">Programming Language Theory</a>
								</li>
								<li>
									<a href="my_courses/ics314.html">Software Engineering I</a>
								</li>
							</ul>
						</div>
						<div class="col-xs-6 col-sm-6 col-lg-6">
							<ul>
								<li>
									<a href="my_courses/ics414.html">Software Engineering II</a>
								</li>
								<li>
									<a href="my_courses/ics332.html">Operating Systems</a>
								</li>
								<li>
									<a href="my_courses/ics466.html">Design for Mobile Devices</a>
								</li>
								<li>
									<a href="my_courses/ics215.html">Introduction to Scripting</a>
								</li>
								<li>
									<a href="my_courses/ics415.html">Introduction to Programming for the Web</a>
								</li>
								<li>
									<a href="my_courses/ics415.html">Web Design and Management</a>
								</li>
								<li>
									<a href="my_courses/ics451.html">Data Networks</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--End of Courses -->
			<!-- Technology Summary -->
			<div class="row page-header">
				<div class="col-xs-12 col-sm-12 col-lg-12">
					
					<div class="row aboutme_graph_row">
						<h2 class="aboutme_title aboutme_tech_summary"> Technology Summary </h2>
						<div class="col-xs-6 col-sm-6 col-lg-6">
							<h4 class="aboutme_languages_database" style="text-align:center"> Programming Languages/Database </h4>
							<canvas id="graph" width="525" height="450">   
							</canvas>
						</div>
						<div class="col-xs-6 col-sm-6 col-lg-6">
							<h4 class="aboutme_languages_database" style="text-align:center"> Other Technologies </h4>
							<ul>
								<li>
									JQuery, AJAX, Bootstrap
								</li>
								<li>
									Eclipse IDE, Visual Studio, Android Studio
								</li>
								<li>
									Microsoft Word, PowerPoint, Excel
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Modules -->
		<script src="js/myApp.js"></script>
		<!-- Controllers -->
		<script src="js/controller/myController.js"></script>
	</body>
</html>