<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<!-- Custom Icons -->
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
		<!-- AngularJS library -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
		
		<!-- My CSS -->
		<link rel="stylesheet" href="../css/myStyle.css">
	
		<title>Projects - Web Chat</title>
	</head>
	<body ng-app="myApp">
		<!-- Navbar -->
		<nav class="navbar navbar-fixed-top navbar-default" ng-controller="navCtrl">
			<div class="container">
				<!-- Navbar Header -->
				<div class="navbar-header">
					  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span> 
					  </button>				
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li id="home_menu">
							<a href="../index.html">
								Home
							</a>
						</li>
						<!-- Coursework Menu -->
						<li id="coursework_menu">
							<a href="../courses.html">
								Coursework
							</a>
						</li>
						<!-- End of Coursework Menu -->
						<!-- Projects Drop Down Menu-->
						<li class="dropdown active" id="projects_menu">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								Projects <span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<!-- Mobile Projects -->
								<li class="dropdown-header">
									Mobile Projects
								</li>
								<li ng-repeat="project in mobileProjects">
									<a ng-href="{{project.page_src_sub}}">{{project.project_name}}</a>
								</li>
								<!--Game Projects -->
								<li role="separator" class="divider"></li>
								<li class="dropdown-header">
									Game Projects
								</li>
								<li ng-repeat="project in gameProjects">
									<a ng-href="{{project.page_src_sub}}">{{project.project_name}}</a>
								</li>
								<!-- Web Projects -->
								<li role="separator" class="divider"></li>
								<li class="dropdown-header">
									Web Projects
								</li>
								<li ng-repeat="project in webProjects">
									<a ng-href="{{project.page_src_sub}}">{{project.project_name}}</a>
								</li>
								<!-- View All -->
								<li role="separator" class="divider"></li>
								<li>
									<a href="../projects.html">View All</a>
								</li>
							</ul>
						</li>
						<!-- End of Projects Drop Down Menu -->
						<!-- About Me Menu -->
						<li id="about_me_menu">
							<a href="../about_me.html">
								About Me
							</a>
						</li>
						<!-- End of About Me Menu -->
					</ul>
					<!-- Contact and Social Navbar -->
					<ul class="nav navbar-nav navbar-right" id="contact_social_nav">
						<li>
							<a href="https://www.linkedin.com/pub/john-benedick-rasay/a4/2b7/7a3"><i class="fa fa-lg fa-linkedin"></i></a>
						</li>
						<li>
							<a href="https://github.com/JRasay89?tab=repositories"><i class="fa fa-lg fa-github"></i></a>
						</li>
						<li>
							<a href="mailto:jrasay89@gmail.com"><i class="fa fa-envelope"></i> jrasay89@gmail.com</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- End of Navbar -->
		<div class="jumbotron projects_jumbotron_title">
			<h1 style="text-align:center">Web Chat</h1>
			<p style="text-align:center">(Languages and Technologies: HTML, CSS, JavaScript, JQuery, AJAX, and PHP)</p>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-12">
					<h2 class="background_title"> Project Description </h2>
					<p>
						A simple chat room using PHP, JavaScript, JQuery, and AJAX. It is a public chat room where users
						can join by entering a unique username.
					</p>
				</div>
			</div>
			<!-- Screenshots -->
			<div class="row">
				<div class="col-sm-12 col-lg-12">
					<h2 class="screen_shots_title"> Screenshots </h2>
					<div class="row">
						<div class="col-sm-6 col-lg-6">
							<h3> Login </h3>
							<img src="../images/projects_screenshots/web_chat/login_screenshot.png" class="img-responsive" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 col-lg-6">
							<h3> Chat Room </h3>
							<img src="../images/projects_screenshots/web_chat/chat_screenshot.png" class="img-responsive" />
						</div>
					</div>
				</div>
			</div>
			<!-- End of screenshots -->
			<!-- Sources/Files -->
			<div class="row">
				<div class="col-sm-12 col-lg-12">
					<h2 class="files_title"> Sources/Files </h2>
					<div class="row">
						<div class="col-xs-4 col-sm-4 col-lg-4">
							<a href="https://github.com/JRasay89/WebChatRoom">
								<img src="../images/icons/github_logo_icon.png"/>
								<h4> Github Repository </h4>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- End of Sources/Files -->
		</div>
		
		<!-- Modules -->
		<script src="../js/myApp.js"></script>
		<!-- Controllers -->
		<script src="../js/controller/myController.js"></script>
	</body>
</html>