<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<!-- Custom Icons -->
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
		<!-- AngularJS library -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
		
		<!-- My CSS -->
		<link rel="stylesheet" href="../css/myStyle.css">
		
		<title>Coursework - ICS 215</title>	
	</head>
	<body ng-app="myApp">
		<!-- Navbar -->
		<nav class="navbar navbar-fixed-top navbar-default" ng-controller="navCtrl">
			<div class="container">
				<!-- Navbar Header -->
				<div class="navbar-header">
					  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span> 
					  </button>				
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li id="home_menu">
							<a href="../index.html">
								Home
							</a>
						</li>
						<!-- Coursework Menu -->
						<li class="active" id="coursework_menu">
							<a href="../courses.html">
								Coursework
							</a>
						</li>
						<!-- End of Coursework Menu -->
						<!-- Projects Drop Down Menu-->
						<li class="dropdown" id="projects_menu">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								Projects <span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<!-- Mobile Projects -->
								<li class="dropdown-header">
									Mobile Projects
								</li>
								<li ng-repeat="project in mobileProjects">
									<a ng-href="{{project.page_src_sub}}">{{project.project_name}}</a>
								</li>
								<!--Game Projects -->
								<li role="separator" class="divider"></li>
								<li class="dropdown-header">
									Game Projects
								</li>
								<li ng-repeat="project in gameProjects">
									<a ng-href="{{project.page_src_sub}}">{{project.project_name}}</a>
								</li>
								<!-- Web Projects -->
								<li role="separator" class="divider"></li>
								<li class="dropdown-header">
									Web Projects
								</li>
								<li ng-repeat="project in webProjects">
									<a ng-href="{{project.page_src_sub}}">{{project.project_name}}</a>
								</li>
								<!-- View All -->
								<li role="separator" class="divider"></li>
								<li>
									<a href="../projects.html">View All</a>
								</li>
							</ul>
						</li>
						<!-- End of Projects Drop Down Menu -->
						<!-- About Me Menu -->
						<li id="about_me_menu">
							<a href="../about_me.html">
								About Me
							</a>
						</li>
						<!-- End of About Me Menu -->
					</ul>
					<!-- Contact and Social Navbar -->
					<ul class="nav navbar-nav navbar-right" id="contact_social_nav">
						<li>
							<a href="https://www.linkedin.com/pub/john-benedick-rasay/a4/2b7/7a3"><i class="fa fa-lg fa-linkedin"></i></a>
						</li>
						<li>
							<a href="https://github.com/JRasay89?tab=repositories"><i class="fa fa-lg fa-github"></i></a>
						</li>
						<li>
							<a href="mailto:jrasay89@gmail.com"><i class="fa fa-envelope"></i> jrasay89@gmail.com</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- End of Navbar -->
		<!-- Main Content -->
		<div class="container">
			<div class="jumbotron" id="courses_jumbotron_title">
				<h2 style="text-align:center">ICS 215 <br> Intro to Scripting</h2>
				<p style="text-align:center">
					University Of Hawaii Manoa <br>
					Fall 2013 <br>
					Professor: Jan Stelovsky
				</p>
			</div>
			<div class="container main_container">
				<div class="row page-header courses_header">
					<h2 class="description_title"> Description </h2>
					<p>
						Introduction to scripting languages for the integration of applications and systems. 
						Scripting in operating systems, web pages, server-side application.
					</p>
				</div>
				<div class="row page-header courses_header">
					<h2 class="experience_gained_title"> Experience Gained </h2>
					<ul>
						<li>
							Scripting languages (Perl, JavaScript, PHP)
						</li>
						<li>
							Introduction to Python
						</li>
						<li>
							Regular Expression
						</li>
						<li>
							HTML and CSS
						</li>
					</ul>
				</div>
				<div class="row page-header courses_header">
					<div class="col-sm-12 col-lg-12">
						<h2 class="textbooks_title"> Textbooks </h2>
						<div class = "row">
							<!-- Book 1 -->
							<div class="col-sm-6 col-lg-6">
								<div class="col-sm-4 col-lg-3">
									<a href="http://www.amazon.com/JavaScript-Definitive-Guide-Activate-Guides-ebook/dp/B004XQX4K0/ref=sr_1_3?ie=UTF8&qid=1442631413&sr=8-3&keywords=JavaScript">
										<img src="../images/books/ICS215-Book.png"/>
									</a>
								</div>
								<div class="col-sm-8 col-lg-9">
									JavaScript: The Definitive Guide, 6th Edition <br>
									By David Flanagan <br>
									O'reilly Media <br>
									ISBN: 978-0596-80552-4
								</div>
							</div>
							<!-- Book 2 -->
							<div class="col-sm-6 col-lg-6">
								<div class="col-sm-4 col-lg-3">
									<a href="http://www.amazon.com/Learning-Perl-Randal-L-Schwartz/dp/1449303587/ref=sr_1_1?ie=UTF8&qid=1442631958&sr=8-1&keywords=Learning+perl">
										<img src="../images/books/ICS215-Book2.png"/>
									</a>
								</div>
								<div class="col-sm-8 col-lg-9">
									Learning Pearl, 6th Edition <br>
									By Randal L Schwartz, Brian D Foy, Tom Phoenix <br>
									O'Reilly Media <br>
									ISBN: 978-1-4493-0358-7
								</div>
							</div>
						</div>
						<div class = "row">
							<!-- Book 3 -->
							<div class="col-sm-6 col-lg-6">
								<div class="col-sm-4 col-lg-3">
									<a href="http://www.amazon.com/PHP-MySQL-Dynamic-Web-Sites/dp/032152599X/ref=sr_1_2?ie=UTF8&qid=1442631998&sr=8-2&keywords=PHP+6+and">
										<img src="../images/books/ICS215-Book3.png"/>
									</a>
								</div>
								<div class="col-sm-8 col-lg-9">
									PHP 6 and MySQL 5 for Dynamic Web Sites: Visual QuickPro Guide <br>
									By Larry Ullman <br>
									Peachpit Press <br>
									ISBN: 978-0321525994
								</div>
							</div>
							<!-- Book 4 -->
							<div class="col-sm-6 col-lg-6">
								<div class="col-sm-4 col-lg-3">
									<a href="http://www.amazon.com/Python-Essential-Reference-David-Beazley/dp/0672329786/ref=sr_1_1?ie=UTF8&qid=1442632030&sr=8-1&keywords=python+essential+reference">
										<img src="../images/books/ICS215-Book4.png"/>
									</a>
								</div>
								<div class="col-sm-8 col-lg-9">
									Python Essential Reference, 4th Edition <br>
									By David M. Beazley <br>
									Addison-Wesley Professional. <br> 
									ISBN: 978-0672329784
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row page-header courses_header">
					<div class="col-sm-12 col-lg-12">
						<h2 class="programming_assignments_title"> Programming Assignments </h2>
						<!-- First row of assignments list -->
						<div class="row assignments_row">
							<!-- Lab 1 -->
							<div class="col-sm-4 col-lg-4">
								<div class="row">
									<div class="col-sm-6 col-lg-4">
										<img src="../images/icons/shell_icon.png" />
									</div>
									<div class="col-sm-6 col-lg-8">
										<h3>
											Assignment 1 <br>
											My First Script
										</h3>
										<p><a href="https://www.dropbox.com/s/x3xbhf1s6askflg/Lab_1%20-%20Hello%20World.zip?dl=0">Download</a></p>
										<p><a href="https://github.com/JRasay89/School_Assignments/tree/master/ICS_212/Lab_1">View</a></p>
									</div>
								</div>
							</div>
							<!-- Lab 2 -->
							<div class="col-sm-4 col-lg-4">
								<div class="row">
									<div class="col-sm-6 col-lg-4">
										<img src="../images/icons/perl_icon.png" />
									</div>
									<div class="col-sm-6 col-lg-8">
										<h3>
											Assignment 2 <br>
											Data Extraction and Manipulation
										</h3>
										<p><a href="https://www.dropbox.com/s/9wj1oxmyo3pzdc0/Lab_2%20-%20Temp%20Conversion.zip?dl=0">Download</a></p>
										<p><a href="https://github.com/JRasay89/School_Assignments/tree/master/ICS_212/Lab_2">View</a></p>
									</div>
								</div>
							</div>
							<!-- Lab 3 -->
							<div class="col-sm-4 col-lg-4">
								<div class="row">
									<div class="col-sm-6 col-lg-4">
										<img src="../images/icons/perl_icon.png" />
									</div>
									<div class="col-sm-6 col-lg-8">
										<h3>
											Assignment 3 <br>
											Regular Expression
										</h3>
										<p><a href="https://www.dropbox.com/s/quttk3nxsl7psl2/Lab_3%20-%20CountWord_PowerFunction.zip?dl=0">Download</a></p>
										<p><a href="https://github.com/JRasay89/School_Assignments/tree/master/ICS_212/Lab_3">View</a></p>
									</div>
								</div>
							</div>
						</div>
						<!-- Second row of assignments list -->
						<div class="row assignments_row">
							<!-- Lab 4 -->
							<div class="col-sm-4 col-lg-4">
								<div class="row">
									<div class="col-sm-6 col-lg-4">
										<img src="../images/icons/js_icon.png" />
									</div>
									<div class="col-sm-6 col-lg-8">
										<h3>
											Assignment 4 <br>
											Average and Quiz
										</h3>
										<p><a href="https://www.dropbox.com/s/u08fnd37644f2ci/Lab_4%20-%20Conversion.zip?dl=0">Download</a></p>
										<p><a href="https://github.com/JRasay89/School_Assignments/tree/master/ICS_212/Lab_4">View</a></p>
									</div>
								</div>
							</div>
							<!-- Lab 5 -->
							<div class="col-sm-4 col-lg-4">
								<div class="row">
									<div class="col-sm-6 col-lg-4">
										<img src="../images/icons/js_icon.png" />
									</div>
									<div class="col-sm-6 col-lg-8">
										<h3>
											Assignment 5 <br>
											Canvas
										</h3>
										<p><a href="https://www.dropbox.com/s/hnpvjwqai7nn4r9/Lab_5%20-%20Pointers.zip?dl=0">Download</a></p>
										<p><a href="https://github.com/JRasay89/School_Assignments/tree/master/ICS_212/Lab_5">View</a></p>
									</div>
								</div>
							</div>
							<!-- Lab 6 -->
							<div class="col-sm-4 col-lg-4">
								<div class="row">
									<div class="col-sm-6 col-lg-4">
										<img src="../images/icons/js_icon.png" />
									</div>
									<div class="col-sm-6 col-lg-8">
										<h3>
											Assignment 6 <br>
											Car Engine
										</h3>
										<p><a href="https://www.dropbox.com/s/i4lt55itpc2g1d5/Lab_6%20-%20Array_DynamArray_LinkList.zip?dl=0">Download</a></p>
										<p><a href="https://github.com/JRasay89/School_Assignments/tree/master/ICS_212/Lab_6">View</a></p>
									</div>
								</div>
							</div>
						</div>
						<!-- End of second row -->
					</div>
				</div>
				<!-- End of programming assignments row -->
			</div>
		</div>
		
		<!-- Modules -->
		<script src="../js/myApp.js"></script>
		<!-- Controllers -->
		<script src="../js/controller/myController.js"></script>
	</body>
</html>